/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* theme(...) is resolved by Tailwind at build time */
    --color-primary: theme("colors.primary.500");
    --color-on-primary: theme("colors.white");
    --bg-default: theme("colors.gray.50");
  }

  body {
    font-family: "Cairo", sans-serif;
  }

  /* global overrides for Material components */
  .mat-toolbar,
  .mat-app-bar {
    background: var(--color-primary) !important;
    color: var(--color-on-primary) !important;
  }
  .mat-card {
    background: color-mix(in srgb, var(--bg-default) 90%, white); /* optional */
  }
}

/* Material Error Styling */
mat-error {
  display: block;
  color: #f44336;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.mat-mdc-form-field-error {
  color: #f44336;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f7fa;
}

mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100vh;
}

/* ensure mat-sidenav behaves as a column flex container */
mat-sidenav {
  display: flex;
  flex-direction: column;
  width: 256px;
}
